.contact {
    background-color: rgb(209, 222, 230);
    background-size: cover;
    min-height: 700px;
}

.contactHeading {
    padding-top: 30px;
    padding-bottom: 10px;
}

#logo {
    height: 80px;
    width: 80px;
}

p {
    font-size: 20px;
    padding-bottom: 20px;
}