.home {
    width: 100%;
    min-height: 700px;
    align-items: center;
    background-image: url(../assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.homeSection h1 {
    padding-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 
#me {
    max-width: 350px;
    max-height: 350px;
    border-radius: 50%;
    padding: 20px;
}